---
import EncodingPage from '../../../components/EncodingPage.astro';

const title = "XML Validator";
const description = "This free online XML validator helps you validate your XML string.";
const toolName = "Validate";
const jsFile = "xml.js?v=2";
const activePage = "xml/validator";
const reverseLink = "";
const initScript = `window.method = xml.validate; methodLoad();`;
const extraJsFile = "validator.js";
---

<EncodingPage 
    title={title}
    description={description}
    toolName={toolName}
    jsFile={jsFile}
    activePage={activePage}
    reverseLink={reverseLink}
    hasInputSettings={false}
    hasOutputSettings={false}
    hasFormatSettings={false}
    initScript={initScript}
    extraJsFile={extraJsFile}
    editorLanguage="xml"
    outputToggleMonaco={false}
    outputPlaceholder="Error message..."
>
    <div slot="before-output-textarea" class="container" id="validate-result"></div>
</EncodingPage>
