---
import BaseHashPage from '../../../components/BaseHashPage.astro';
import InputEncodingSelect from '../../../components/InputEncodingSelect.astro';
import OutputEncodingSelect from '../../../components/OutputEncodingSelect.astro';
import { languages } from '../../../i18n/ui';
import { useTranslations } from '../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);
const title = t('double_sha256.title');
const description = t('double_sha256.description');
const activePage = 'hash/double_sha256';
---

<BaseHashPage title={title} description={description} activePage={activePage}>
  <div class="setting">
    <label for="input-type">{t('input_encoding')}</label>
    <InputEncodingSelect
      id="input-type"
      dataShare="input_type"
      dataAutoUpdate={true}
      includeTextEncodings={true}
    />
  </div>
  <div class="setting">
    <label for="output-type">{t('output_encoding')}</label>
    <OutputEncodingSelect id="output-type" dataShare="output_type" dataAutoUpdate={true} />
  </div>

  <script is:inline slot="scripts">
    function double_sha256(input) {
      return sha256(sha256(input));
    }
  </script>

  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: 'https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.11.0/sha256.min.js',
      onload: function () {
        window.method = double_sha256;
        methodLoad();
      },
    });
  </script>

  <script is:inline>
    // Encoding script already increments waitLoadCount internally
    delayScripts.push({
      src: '/js/encoding.js?v=8',
    });
  </script>
</BaseHashPage>
