---
import EncodingPage from '../../../../components/EncodingPage.astro';
import { languages } from '../../../../i18n/ui';
import { useTranslations } from '../../../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
      return { params: { lang } };
  });
}

const { lang = 'en' } = Astro.params;
const t = useTranslations(lang as any);

const title = t('xml_validator.title');
const description = t('xml_validator.description');
const toolName = t('validate');
const jsFile = "xml.js?v=2";
const activePage = "xml/validator";
const reverseLink = "";
const initScript = `window.method = xml.validate; methodLoad();`;
const extraJsFile = "validator.js";
---

<EncodingPage 
    title={title}
    description={description}
    toolName={toolName}
    jsFile={jsFile}
    activePage={activePage}
    reverseLink={reverseLink}
    hasInputSettings={false}
    hasOutputSettings={false}
    hasFormatSettings={false}
    initScript={initScript}
    extraJsFile={extraJsFile}
    editorLanguage="xml"
    outputToggleMonaco={false}
    outputPlaceholder={t('error_message')}
>
    <div slot="before-output-textarea" class="container" id="validate-result"></div>
</EncodingPage>
