---
import BaseHashPage from "../../components/BaseHashPage.astro";
import InputEncodingSelect from "../../components/InputEncodingSelect.astro";
import OutputEncodingSelect from "../../components/OutputEncodingSelect.astro";

const title = "Double SHA256";
const description = "This Double SHA256 online tool helps you calculate hashes from strings. You can input UTF-8, UTF-16, Hex, Base64, or other encodings.";
const activePage = "hash/double_sha256";
---

<BaseHashPage title={title} description={description} activePage={activePage}>
  <div class="setting">
    <label for="input-type">Input Encoding</label>
    <InputEncodingSelect id="input-type" dataShare="input_type" dataAutoUpdate={true} includeTextEncodings={true} />
  </div>
  <div class="setting">
    <label for="output-type">Output Encoding</label>
    <OutputEncodingSelect id="output-type" dataShare="output_type" dataAutoUpdate={true} />
  </div>

  <script is:inline slot="scripts">
    function double_sha256(input) {
      return sha256(sha256(input));
    }
  </script>

  <script is:inline>
    ++waitLoadCount;
    delayScripts.push({
      src: "https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.11.0/sha256.min.js",
      onload: function () {
        window.method = double_sha256;
        methodLoad();
      },
    });
  </script>

  <script is:inline>
    // Encoding script already increments waitLoadCount internally
    delayScripts.push({
      src: "/js/encoding.js?v=8",
    });
  </script>
</BaseHashPage>
